img{
    max-width: 100%;
}

.header {
    text-align: center;
    border-bottom: 5px double #f7f7f7;
    background-color: #f6f6f6;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
    z-index: 999;
    padding: 40px 10px;
    color: #ffffff;
}

h2 {
    margin-top: 0px;
    color: #1a2836;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0 0 0;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 4px;
}

.layouts{
    margin-bottom: 50px;
}

.layouts h2 {
    color: #333333;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 40px 0 20px 0;
    font-family: "Open Sans",Helvetica Neue,sans-serif;
}

.img-responsive{
    border-radius: 6px;
}